

.cardsitem{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  min-height: fit-content;
}

.boxloading{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}